# Ignora diretórios de cache do Python
__pycache__

# Ignora arquivos de configuração
*.env

# Ignora diretórios de ambientes virtuais
venv/
.venv

# Ignora arquivos de log
*.log

#arquivos:
anotacoes.txt

#IDE
.vscode/

#Testes:
.pytest_cache/

#env
*.env